<div class="tab-pane fade" id="history-tab-pane" role="tabpanel" aria-labelledby="history-tab" tabindex="0">
    <h1 class="heading">My Donations </h1>
    <div class="table-wrapper">
        <table border="1">
            <thead class="table-head">
                <th>Serial No.</th>
                <th>Name</th>
                <th>Disease</th>
                <th>Blood Group</th>
                <th>Units(in ml)</th>
                <th>Donation Date</th>
                <th>Status</th>
            </thead>
            <tbody class="table-content">

            </tbody>
        </table>
    </div>
</div>