<div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
    <div class="container1">
        <h1>Find Donor</h1>
        <div class="search-bar">
            <div class="search">
                <input type="text" class="search-input" placeholder="Search location ...." id="searchInput">
                <button class="search-button" id="searchButton">Search</button>
            </div>
            <div class="sort">
                <label for="sort-dropdown">SORT BY</label>
                <select id="sort-dropdown">
                    <option value="select" selected>--Select--</option>
                    <option value="A+">A+</option>
                    <option value="B+">B+</option>
                    <option value="AB+">AB+</option>
                    <option value="O+">O+</option>
                    <option value="A-">A-</option>
                    <option value="B-">B-</option>
                    <option value="AB-">AB-</option>
                    <option value="O-">O-</option>
                </select>
            </div>
        </div>
        <div class="results">
            <button id="loadMoreDonors" style="display:none;">Load More Donors</button>
        </div>
    </div>
</div>